@mixin font-face(
  $family,
  $filename,
  $weight: 400,
  $style: normal,
  $stretch: normal,
  $display: swap
) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-stretch: $stretch;
    font-display: $display;
    src: local($family), local($filename),
      url("/fonts/#{$filename}.woff2") format("woff2"),
      url("/fonts/#{$filename}.woff") format("woff");
  }
}
