$white: #f7f5fa;
$smoke: #dedae6;
$slate: #535059;
$black: #302e33;
$brand: #fa0c54;

$heading-font-fallback: "Bookman", serif;
$heading-font-family: "Alfa Slab One", $heading-font-fallback;

$body-font-fallback: "Monaco", monospace;
$body-font-family: "Roboto Mono", $body-font-fallback;
