html,
body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

@media all and (display-mode: standalone) {
  .browser {
    display: none;
  }
}

@media all and (display-mode: browser) {
  .standalone {
    display: none;
  }
}
