@import "mixins";
@import "theme";
@import "fonts";

body {
  font-family: $body-font-fallback;

  .fonts-loaded & {
    font-family: $body-font-family;
  }
}

h1,
h2 {
  font-family: $heading-font-fallback;

  .fonts-loaded & {
    font-family: $heading-font-family;
    font-weight: 400;
  }
}

@media all and (display-mode: standalone) {
  .browser {
    display: none;
  }
}

@media all and (display-mode: browser) {
  .standalone {
    display: none;
  }
}
