// @include font-face("Noway", "Noway-Medium", 700);

* {
  -webkit-tap-highlight-color: $tap-color;
}

html {
  font-size: 18px;
  font-family: $body-font-fallback;
  line-height: 1.5;

  color: $text-color;
  background-color: $white;

  min-width: 320px;
  max-width: 100vw;

  overflow-x: hidden;

  &.wf-active {
    font-family: $body-font-family;
  }

  @include desktop {
    font-size: 20px;
  }
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: $heading-font-fallback;
  margin: 0;

  .wf-active & {
    font-family: $heading-font-family;
  }
}

h1,
.h1 {
  font-size: 3.2rem;
  line-height: 0.9;
}

h2,
.h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3,
.h3 {
  font-size: 1.4rem;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

.mono {
  font-family: $mono-font-fallback;
  font-size: 0.85rem;
  line-height: 1.6;

  .wf-active & {
    font-family: $mono-font-family;
  }
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.outline :focus {
  outline: $outline;
  outline-offset: $outline-offset;
}

::selection {
  background: $selection-color;
}

.grid {
  display: grid;
  @include grid-columns(0.5rem, 1fr, 1rem);

  @include desktop {
    @include grid-columns(minmax(1rem, 1fr), minmax(2rem, 8rem), 2rem);
  }
}

@media all and (display-mode: standalone) {
  .browser {
    display: none;
  }
}

@media all and (display-mode: browser) {
  .standalone {
    display: none;
  }
}
