body {
  font-family: "Lucida Console", "Monaco", monospace;

  .wf-active & {
    font-family: "Roboto Mono";
  }
}

@media all and (display-mode: standalone) {
  .browser {
    display: none;
  }
}

@media all and (display-mode: browser) {
  .standalone {
    display: none;
  }
}
