@mixin font-face(
  $family,
  $filename,
  $weight: 400,
  $style: normal,
  $stretch: normal,
  $display: swap,
  $path: "/fonts/"
) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-stretch: $stretch;
    font-display: $display;
    src: url("#{$path}#{$filename}.woff2") format("woff2"),
      url("#{$path}#{$filename}.woff") format("woff");
  }
}

@mixin above($min-width) {
  @media only screen and (min-width: #{$min-width}) {
    @content;
  }
}

@mixin below($max-width) {
  @media only screen and (max-width: #{$max-width}) {
    @content;
  }
}

@mixin between($min-width, $max-width) {
  @media only screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
    @content;
  }
}

@mixin desktop {
  @include above($desktop-breakpoint + 1) {
    @content;
  }
}

@mixin tablet {
  @include above($mobile-breakpoint + 1) {
    @content;
  }
}

@mixin mobile {
  @include below($mobile-breakpoint) {
    @content;
  }
}

@mixin grid-columns($gutter, $column, $gap) {
  grid-template-columns:
    [bleed-start]
    $gutter
    [gutter-start]
    $gutter
    [column-1-start third-1-start half-1-start content-start]
    $column
    [column-1-end]
    $gap
    [column-2-start]
    $column
    [column-2-end third-1-end]
    $gap
    [column-3-start third-2-start]
    $column
    [column-3-end half-1-end]
    $gap / 2
    [mid-line]
    $gap / 2
    [column-4-start half-2-start]
    $column
    [column-4-end third-2-end]
    $gap
    [column-5-start third-3-start]
    $column
    [column-5-end]
    $gap
    [column-6-start]
    $column
    [column-6-end third-3-end half-2-end content-end]
    $gutter
    [gutter-end]
    $gutter
    [bleed-end];
}
