$heading-font-fallback: "Helvetica", "Arial", sans-serif;
$heading-font-family: "Salome", $heading-font-fallback;

$body-font-fallback: "Monaco", monospace;
$body-font-family: "Roboto Mono", $body-font-fallback;

$white: #ffffff;
$smoke: #f3f3f4;
$stone: #e1e1e6;
$slate: #313133;
$black: #17171a;

$red: #ff5c50;
$yellow: #ffcf5a;
$green: #2febac;
$blue: #5190d9;
$sage: #c6e5df;

$min-width: 320px;
$max-width: 1080px;
