$footer-link-color: $white;
$signature-breakpoint: 440px;

.footer {
  font-size: 0.8rem;
  background-color: $black;
  padding: 2rem 0 1rem;
  grid-row-gap: 2rem;
}

.footer-logo-wrapper {
  grid-column: half1;
  height: 24px;
}

.footer-logo-link {
  display: inline-flex;
  align-items: center;
  color: $footer-link-color;
  margin: -4px;
}

.footer-logo-text {
  padding: 0 0.6rem;
}

.footer-nav-title,
.footer-copyright,
.footer-signature {
  font-size: 0.75rem;
  color: $steel;
}

.footer-copyright {
  grid-column: content;

  @include above($signature-breakpoint) {
    grid-column: third1;
  }
}

.footer-signature {
  grid-column: third2 / third3;
  display: none;

  a {
    color: $yellow;
  }

  @include above($signature-breakpoint) {
    display: block;
  }

  @include desktop {
    grid-column: half2;
  }
}

.footer-nav.sitemap-links {
  grid-column: half2;

  @include tablet {
    grid-column: third1;
  }

  @include desktop {
    grid-column: column4;
  }
}

.footer-nav.internal-links {
  grid-column: half1;

  @include tablet {
    grid-column: third2;
  }

  @include desktop {
    grid-column: column5;
  }
}

.footer-nav.external-links {
  grid-column: half2;

  @include tablet {
    grid-column: third3;
  }

  @include desktop {
    grid-column: column6;
  }
}

.footer-nav-title {
  margin-bottom: 1rem;

  @include mobile {
    margin-top: 0.1rem;
  }
}

.footer-nav-item {
  margin-top: 0.75rem;
  display: flex;
}

.footer-nav-link {
  display: block;
  line-height: 1;
  color: $footer-link-color;
}
